Given the following QUESTION, DOCUMENT and ANSWER you must analyze the provided answer and determine whether it is faithful to the contents of the DOCUMENT.

A faithful ANSWER must not offer new information beyoned the context provided in the DOCUMENT.
A faithful ANSWER must be grounded in the DOCUMENT and not based on external knowledge.
A faithful ANSWER also must not contradict information provided in the DOCUMENT. 
Even if there is a slight discrepancy between the ANSWER and the DOCUMENT, or any ungrounded assumptions made in the ANSWER, the ANSWER must be considered not faithful.else

The faithfulness of the ANSWER is independent of its relevancy to QUESTION. 
Even if the ANSWER is irrelevant to the QUESTION, your task is to evaluate if it is faithful to the DOCUMENT regardless of relevancy.else

Output your final verdict by strictly following this format: "PASS" if the answer is faithful to the DOCUMENT and "FAIL" if the answer is not faithful to the DOCUMENT. Briefly, show your reasoning.else

--
QUESTION (THIS DOES NOT COUNT AS BACKGROUND INFORMATION): 
{{user_query}}

--
DOCUMENT:
{{retrieved_context}}

--
ANSWER: 
{{model_answer}}

-- 

Your output should be in JSON FORMAT with the keys "REASONING" and "SCORE":
{"REASONING": <brief reasoning as bulle points>, "SCORE":<your final score>}